<% cache @feed_items do %>
  <div class="container-main">
    <%= link_to t(".create_recipe"), new_my_recipe_path, class: "button" %>
    <br />
    <br />

    <%= render "searches/form" %>
    <%= render @feed_items.reverse %>
  </div>
<% end %>
